.searchItem{
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;   
    gap: 12px;
    background-color: var(--color-primary-500);
    
    img{
        height: 100%;
    }
}

.searchItem:nth-child(odd){
    background-color: var(--color-primary-400);
}